.banner-wrapper {
    position: relative;
  }
  
  .skeleton-loader {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loadingAnimation 1.5s infinite;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  @keyframes loadingAnimation {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
  
  .loading {
    position: relative;
    z-index: 2;
  }

  
@media screen and (max-width: 640px) {
.desktop-banner-img{
display: none;
}
.desc_video{
display: none;
}
.mobile-banner-img {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 100%;
    padding-top: 146.64%; /* Maintain aspect ratio */
  }
}

@media screen and (min-width: 641px) {
.mobile-banner-img{
display: none;
}
.mobile_video{
display: none;
}
.desktop-banner-img {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 100%;
    padding-top: 42.64%; /* Maintain aspect ratio */
  }

}
.desc_video{
margin: 0px auto;
}
.responsive-iframe{
width: 100%;
height: auto;
}