.skeleton-loader {
    width: 100%;
    height: 0;
    padding-top: 42.64%; /* Aspect ratio for desktop */
    background-color: #e0e0e0;
    animation: pulse 1.5s infinite;
  }
  
  @media screen and (max-width: 640px) {
    .skeleton-loader {
      padding-top: 146.64%; /* Aspect ratio for mobile */
    }
  }
  
  @keyframes pulse {
    0% {
      background-color: #e0e0e0;
    }
    50% {
      background-color: #f0f0f0;
    }
    100% {
      background-color: #e0e0e0;
    }
  }
  
  .desktop-banner-img,
  .mobile-banner-img {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 100%;
  }
  
  @media screen and (max-width: 640px) {
    .desktop-banner-img {
      display: none;
    }
    .mobile-banner-img {
      display: block;
    }
  }
  
  @media screen and (min-width: 641px) {
    .mobile-banner-img {
      display: none;
    }
    .desktop-banner-img {
      display: block;
    }
  }
  