.whiskeyCards {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    cursor: grab;
  }
  
  .whiskeyCards::-webkit-scrollbar {
    display: none;
  }
  
  .whiskeyCard {
    /* All other styling remains unchanged */
    display: flex;
    flex-direction: column;
    min-width: 244px;
    flex-basis: 244px;
    margin: 8px;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 -16px 24px rgb(0 0 0 / 5%);
    transition: all 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  /* .whiskeyCard:hover {
    transform: scale(1.04) translateY(-16px);
    background-color: #0a2540 !important;
  }
   */