@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

@font-face {
  font-family: 'Futura PT';
  src:  url('/fonts/FuturaPT-Book.woff') format('woff'),
       
}
@font-face {
  font-family: 'Biorhyme';
  src:  url('/fonts/biorhyme.regular.woff') format('woff');
}
body {
  font-family: 'Futura PT', sans-serif;
  font-size: 17px;
  color: #000;
}
 h2, button{
  font-family: 'Biorhyme', serif;
  /* font-size: 17px; */
  color: #000;
}
.search-sidebar-container:hover .one .close-button {
    opacity: 1;
    transform: translateY(0);
  }
  
  .close-button-container {
    text-align: center;
    margin-top: 2rem;
  }
  
  .close-button {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  


  .price-slider .rc-slider-track {
    background-color: rgb(90, 89, 89) !important;
  }
  
  .price-slider .rc-slider-handle {
    border-color: rgb(44, 43, 43) !important;
  }
  
  .price-slider .rc-slider-rail {
    background-color: rgb(76, 74, 74) !important;
  }